<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    /* font style */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

    /* common styles */
    html,
    body {
        margin: 0;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
    }
    ul{
        margin:0 0 20px 15px;
        padding: 0;
        list-style-type: disc;
    }
    a{
        color: #0552B5;
        text-decoration: none;
    }
    p{
        margin-top: 0;
    }

    @media only screen and (max-width: 480px){
        .text_left_mobile{
            text-align: left !important;
        }
        ._title{
            font-size: 18px !important;
            line-height: 26px !important;
        }
    }
</style>

<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#E5E5E5">
    <tbody>
        <tr>
            <td style="padding:0; margin:0;" valign="top" align="center" width="100%" class="text_left_mobile">
                <table style="max-width:800px;box-shadow: 0px 3px 2px rgba(255, 139, 91, 0.09), 1px 2px 19px rgba(0, 0, 0, 0.05);" border="0" width="100%" cellspacing="0" cellpadding="0"
                    bgcolor="#ffffff">
                    <tbody>
                        <tr>
                            <td style="padding:8% 8% 10px 8%;text-align:center;" valign="middle"
                                width="100%" class="text_left_mobile">
                                <a href="#">
                                    <img src="https://devmybricks.s3.eu-west-2.amazonaws.com/61fb7af21f4d6eb52ebe3b0d.png" onerror="this.src='../../images/logo.png'" alt="My Bricks" width="164">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:10px 8% 20px 8%;text-align:center;" valign="middle" width="100%" class="text_left_mobile">
                                <h4
                                    style="font-family:Poppins,Arial,Helvetica,sans-serif;font-size:24px;line-height:36px;font-weight:600;color:#0552B5;margin:0;" class="_title">
                                    Password reset Successfully</h4>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:10px 8% 15px 8%;font-family:Poppins,Arial,Helvetica,sans-serif;font-size:14px;line-height:20px;font-weight:400;color:#000000;" valign="middle" width="100%">
                                <p>Dear user,</p>
                                <p>Your password reset Successfully. If It was not you than contact admin.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:10px 8% 15px 8%;font-family:Poppins,Arial,Helvetica,sans-serif;font-size:14px;line-height:20px;font-weight:400;color:#000000;" valign="middle" width="100%">
                                <p>Thank you, <br>
                                The MyBricks Team.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:25px 8%;font-family:Poppins,Arial,Helvetica,sans-serif;font-size:14px;line-height:20px;font-weight:400;color:#486581;" valign="middle" width="100%">
                                <p>Please do not reply to this automatically generated e-mail message, for information please visit  <a href="https://mybricksfinance.com" style="color:#0552b5;text-decoration:none;">https://mybricksfinance.com</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:25px 8%;">
                                <div style="height:1px;background-color:#BCCCDC;">&nbsp;</div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:15px 8%;font-family:Poppins,Arial,Helvetica,sans-serif;font-size:14px;line-height:20px;font-weight:400;text-align:center;" valign="middle" width="100%" class="text_left_mobile">
                                <a href="https://mybricksfinance.com/faqs/" style="color:#0552b5;text-decoration:none;font-family:Poppins,Arial,Helvetica,sans-serif;font-size:14px;line-height:20px;font-weight:500;text-transform:uppercase;display:inline-block;margin:5px 30px 5px 0;">HELP CENTRE</a>
                                <a href="https://discord.com/invite/2Wm6Z9sp5v" style="color:#0552b5;text-decoration:none;font-family:Poppins,Arial,Helvetica,sans-serif;font-size:14px;line-height:20px;font-weight:500;text-transform:uppercase;display:inline-block;margin:5px 30px 5px 0;">COMMUNITY</a>
                                <a href="https://www.youtube.com/channel/UCSy6_IckShnzQjfJw5Xh9qQ/featured" style="color:#0552b5;text-decoration:none;font-family:Poppins,Arial,Helvetica,sans-serif;font-size:14px;line-height:20px;font-weight:500;text-transform:uppercase;display:inline-block;margin:5px 30px 5px 0;">YOUTUBE</a>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:15px 8% 30px;font-family:Poppins,Arial,Helvetica,sans-serif;font-size:14px;line-height:20px;font-weight:400;color:#334E68;text-align:center;" valign="middle" width="100%" class="text_left_mobile">
                                <p><b>© 2022 mybricksfinance.com, All Rights Reserved.</b></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>